
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
    padding: 20px;
}


.category-card, .service-card {
    width: calc(33% - 20px);
    box-sizing: border-box;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}


@media (max-width: 768px) {
    .category-card, .service-card {
        width: calc(50% - 20px); 
    }
}

@media (max-width: 480px) {
    .category-card, .service-card {
        width: 100%; 
    }
}

.category-card:hover, .service-card:hover {
    transform: scale(1.05);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}


.category-card img, .service-card img {
    width: 100%;
    max-width: 300px;
    height: auto;
    border-radius: 8px;
    margin-bottom: 15px;
}


.category-card h3, .service-card h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: black;
}

.category-card p, .service-card p {
    font-size: 1rem;
    color: #555;
    margin-top: 10px;
}

.service-card p {
    font-size: 0.9rem;
}

.category-card a {
    display: inline-block;
    margin-top: 15px;
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.category-card a:hover {
    background-color: #0056b3;
}


.btn-1 {
    display: inline-block;
    margin-top: 15px;
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.btn-1:hover {
    background-color: #0056b3;
}
